/* ---------- My personal CSS ---------- */
body {
    margin: 0;
    background-color: #eaeaea;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

#wrapper {
    max-width: 1440px;
    margin: auto;
}


/* --- HEADER --- */
header {
    position: relative;
    background-color: #f4f7f5;
    height: 150px;
    padding: 10px 0;
}

header h1 {
    color: #08090a;
    text-align: right;
}

header h3 {
    color: #575a5e;
    text-align: right;
}

header img {
    float: right;
    position: relative;
    padding: 10px 10px 0 10px;
}

div.headerLogo {
    float: right;
    padding: 0;
    margin: 0;
    width: 500px;
}

div.loginForm {
    border: 1px dashed #000;
    float: left;
    padding: 10px;
    margin: 0 10px;
}

.loginRow {
    padding: 2px 0;
}

.loginBtn {
    padding: 3px 0;
    float: right;
}

.registerRow {
    padding: 5px 0;
    float: left;
}

header a {
    text-decoration: none;
    color: #e54b4b;
}

header a:hover {
    text-decoration: underline;
    color: #D14545;
}

header a:active {
    color: #ff0000;
}

header a:visited {
    color: #bc3e3e;
}

/* --- MENU BAR --- */

nav {
    height: 38px;
    background-color: #08090a;
    color: #f4f7f5;
}

nav.about {
    background-color: #08090a;
    color: #f4f7f5;
}

nav.about a {
    text-decoration: none;
}

nav.about ul {
    margin: 0;
    padding: 0;
}

nav.about li {
    display: inline-block;
    padding: 10px;
}

.top-menu li {
    display: inline-block;
    padding: 10px 30px;
    margin: 0;
    float: left;
}

.top-menu a {
    color: #b2b2b2;
}

.top-menu ul {
    left: 0;
}

.top-menu-right li {
    display: inline-block;
    padding: 10px 30px;
    margin: 0;
    float: right;
}

.top-menu-right a {
    color: #b2b2b2;
}

.top-menu-right ul {
    right: 0;
}

.title {
    text-align: center;
}

.title h1 {
    padding: 5px 0;
    margin: 0;
}

/* --- MAIN CONTENT --- */

main {
    background-color: #f4f7f5;
    padding: 0 20px;
    display: flex;
}

main a {
    text-decoration: none;
    color: #e54b4b;
}

main a:hover {
    text-decoration: underline;
    color: #D14545;
}

main a:active {
    color: #ff0000;
}

main a:visited {
    color: #bc3e3e;
}

/* --- LEFT CONTENT --- */

section.about {
    float: left;
    margin: 0;
    padding: 5px 20px 5px 5px;
    width: 60%;
}

section.about h1 {
    text-align: right;
    collapse: collapse;
}

table {
    width: 100%;
    border: 1px dashed #000000;
    border-collapse: collapse;
    margin: 20px 0;
}

thead th {
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

th {
    border: 1px dashed #000000;
    text-align: left;
    padding: 5px;
}

th.link {
    width: 40%;
}

th.description {
    width: 60%;
}

td {
    padding: 5px;
}

.row {

}

/* --- RIGHT COLUMN --- */

aside.about {
    float: right;
    margin: 0;
    padding: 5px 5px 5px 20px;
    width: 40%;
    border-left: 4px dotted #000000;
}

aside.about h2, aside p {
    text-align: right;
}

/* --- FOOTER --- */

footer {
    background-color: #08090a;
    color: #f4f7f5;
    height: 50px;
    text-align: center;
    padding: 10px;
    bottom: 0;
}

footer a {
    text-decoration: none;
    color: #e54b4b;
}