body {
    margin: 0;
    padding: 0;
    background-color: #222823;
    font-family: "Courier New";
}

header {
    background-color: #f4f7f5;
    height: 150px;
}

header h1 {
    color: #08090a;
}

header h3 {
    color: #575a5e;
}

nav {
    background-color: #08090a;
    color: #f4f7f5;
}

main {
    background-color: #f4f7f5;
}

footer {
    background-color: #08090a;
    color: #f4f7f5;
}