/* ---------- My personal CSS ---------- */
body {
    margin: 0;
    background-color: #eaeaea;
    font-family: "Courier New";
}

#wrapper {
    max-width: 1440px;
    margin: auto;
}


/* --- HEADER --- */
header {
    position: relative;
    background-color: #f4f7f5;
    height: 150px;
    padding: 10px 0;
}

header h1 {
    color: #08090a;
    text-align: right;
}

header h3 {
    color: #575a5e;
    text-align: right;
}

header img {
    float: right;
    position: relative;
    padding: 10px 10px 0 10px;
}

/* --- MENU BAR --- */

nav {
    background-color: #08090a;
    color: #f4f7f5;
}

nav a {
    text-decoration: none;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    padding: 10px;
}

.top-menu li {
    display: inline-block;
    padding: 10px 30px;
    margin: 0;
}

.top-menu a {
    color: #b2b2b2;
}

/* --- MAIN CONTENT --- */

main {
    background-color: #f4f7f5;
    padding: 0 20px;
    display: flex;
}

/* --- LEFT CONTENT --- */

section {
    float: left;
    margin: 0;
    padding: 5px 5px;
    width: 60%;
}

/* --- RIGHT COLUMN --- */

aside {
    float: right;
    margin: 0;
    padding: 5px 5px;
    width: 40%;
    border-left: 4px dotted #000000;
}

/* --- FOOTER --- */

footer {
    background-color: #08090a;
    color: #f4f7f5;
    height: 50px;
    text-align: center;
    padding: 10px;
    bottom: 0;
}

footer a {
    text-decoration: none;
    color: #e54b4b;
}